.navBar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 20px;
  font-size: 18px;
}
.title {
  color: #2b7988;
  margin-right: 200px;
  margin-left: 20px;
  font-size: 42px;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
.nav-items {
  display: flex;
}
.about {
  margin: 10px;
  color: #256061;
  padding: 5px 15px;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
}
.find-care {
  margin: 10px;
  color: #256061;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
}
.how-it-work {
  margin: 10px;
  color: #256061;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
}
.login-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: #256061;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.login-btn:hover {
  color: #256061;
  background-color: #ffff;
  border: 2px solid #256061;
  border-radius: 3px;
}
.signUp-btn {
  margin: 12px;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: #256061;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.signUp-btn:hover {
  color: #256061;
  background-color: #ffff;
  border: 2px solid #256061;
  border-radius: 3px;
}

.nav-items {
  display: flex;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #256061;
  margin: 4px 0;
}

@media only screen and (max-width: 600px) {
  .title {
    margin-right: 0;
    margin-left: 0;
  }

  .nav-items {
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .about,
  .find-care,
  .how-it-work,
  .login-btn,
  .signUp-btn {
    display: none;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #256061;
  }

  .menu.open .about,
  .menu.open .find-care,
  .menu.open .how-it-work,
  .menu.open .login-btn,
  .menu.open .signUp-btn {
    display: block;
  }

  .hamburger {
    display: flex;
    flex-direction: column; /* Corrected typo here */
    align-items: flex-end; /* Adjusted to align to the right */
    justify-content: right; /* This property doesn't exist. I assume you meant justify-content: flex-end; */
  }
}
